<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel Vue</title>
    <!--CSS-->
    <link rel="stylesheet" href="style.css">
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

     <!-- Fontawesome -->
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css' integrity='sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ==' crossorigin='anonymous'/>

     <!-- VueJS -->
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!--JS-->
    <script defer src="script.js"></script>
</head>
<body>
  <div class="container" id="root">
    <div id="carousel">
      <i id="prev" class="bi bi-arrow-left-circle-fill" @click="goTo('prev')"></i>
      <div class="gallery">
        <figure v-for="(pic, i) in pictures" :class="{'active' : i === currentIndex}">
           <img :src="pic.image" :alt="pic.title">
           <figcaption>
             <h2>{{pic.title}}</h2>
             <h3>{{pic.text}}</h3>
           </figcaption>
         </figure>
      </div>
      <i id="next" class="bi bi-arrow-right-circle-fill" @click="goTo('next')"></i>
    </div>
    <div id="thumbnails">
        <img v-for="(pic, i) in pictures" :src="pic.image" :alt="pic.title" :class="{'active' : i === currentIndex}" @click='setCurrentIndex(i)'></img>
    </div>
  </div>
</body>
</html>